.nav-bar {
  background: #5DB7de;
  width: 80px;
  height: 95%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  border-radius: 100px;
  margin-left: 10px;
  margin-top: 24px;

  .logo {
    display: block;
    padding: 8px 0;

    img {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 100px;
    top: 40%;
    margin-top: -120px;
    width: 100%;

    button {
      font-size: 22px;
      color: #F1E9DB;
      display: block;
      line-height: 54px;
      margin: 12px;
      position: relative;
      text-decoration: none;
      border-radius: 50px;
      width: 55px;
      height: 51px;
      transition: all 0.3s ease-out;
      border: 3px solid #A39B8B;
      background-color: #A39B8B;
    }
    a{
      font-size: 22px;
      color: #F1E9DB;
      display: block;
      line-height: 54px;
      height: 51px;
      position: relative;
      text-decoration: none;
      border-radius: 50px;
      transition: all 0.3s ease-out;
      margin: 12px;
      border: 3px solid #A39B8B;
      background-color: #A39B8B
    }

    a:hover, button:hover {
      border: 3px solid #716A5C;
      background-color: #716A5C;
      border-radius: 8px;

    }

    button.active {
      border: 3px solid #716A5C;
      background-color: #716A5C;
      svg {
        color: black;
      }
    }
    a.active {
      border: 3px solid #716A5C;
      background-color: #716A5C;
    }

    a:after, button:after {
      content: '';
      position: absolute;
      font-size: 9px;
      letter-spacing: 2px;
      bottom: 0;
      display: block;
      width: 100%;
      text-align: center;
      opacity: 0;
      transition: all 0.3s ease
      }
    }
    
  
    ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;
  
    li {
      a {
        
        font-size: 30px;
        color: #716A5C;
        display: block;
        line-height: 0px;
        height: 45px;
        position: relative;
        text-decoration: none;
        transition: all 0.3s ease-out;
      }
      a:hover {
        color: #A39B8B;
      }
    }
  }
}
.hamburger-icon, .close-icon {
  display: none;
}

@media screen and (max-width: 1200px) {
  .nav-bar { 
    background: transparent;
    position: initial;
    height: auto;
    min-height: auto;

    ul, nav {
      display: none;
    }
  
     nav {
      width: 100%;
      top: 0;
      left: 0;
      background: #181818;
      height: 100%;
      margin: 0;
      z-index: 2;
      position: fixed;

      &.mobile-show {
        display: block;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 50px;
      }

      a:after {
        opacity: 1;
        position: initial;
        width: auto;
        margin-left: 10PX;
      }

      a svg {
        opacity: 1 !important;
      }
     }

     .hamburger-icon,
     .close-icon {
        color: #5DB7de;
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
     }
     .logo {
      display: block;
      padding: 8px 0;
  
      img {
        display: none !important; /* added !important declaration */
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .logo {
      display: block;
      padding: 8px 0;
  
      img {
        display: none !important; /* added !important declaration */
      }
    }
  }
}  


